/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
  margin: 0 auto;
}

#container {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  word-break: break-word;
  height: 100vh;
  width: 100vw;
}

#overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

#portal {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 20vh;
  height: 20vh;
  background-color: var(--main-bg-color);
  box-shadow: #000000c2 -2px 0px 32px;
}